@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.footer-icon svg:hover{
  fill: #f0545493;
  transform: scale(1.05);
  transition: .2s ease-in ;
}
.nav-bg{
  transition: .5s ease;
}
.active{
  transition: .3s ease;
  color:#ef4444;
}
.flip-card{
  perspective: 1000px;
}

.flip-card-inner {
  text-align: center;
  transition: transform ease 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  color: black;
}

.back {
  color: white;
  transform: rotateY(180deg);
}
.wrapper-about{
  background-size: 45% 80%;
}
.gallery-wrapper-inner::-webkit-scrollbar {
  display: none;
}
@media (max-width:699px){
  .wrapper-about{
    background-image:none;
  }
}
@media screen and (max-width: 900px) and (min-width: 700px) {
  .wrapper-about{
    background-size: 60% 80%;
  }
}