*{
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.footer-icon svg:hover{
  fill: #f0545493;
  transform: scale(1.05);
  transition: .2s ease-in ;
}
.active{
  transition: .3s ease;
  color:#ef4444;
}
.flip-card{
  perspective: 1000px;
}

.flip-card-inner {
  text-align: center;
  transition: transform ease 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  color: black;
}

.back {
  color: white;
  transform: rotateY(180deg);
}
.wrapper-about{
  background-size: 45% 80%;
}
.gallery-wrapper-inner::-webkit-scrollbar {
  display: none;
}
@media (max-width:500px){
  .wrapper-about{
    background-image:none;
  }
}
